/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap');
/* Primary Color */
:root {
    --primary-color: #1B98F5;
  }
/* ....... */

/* Some basic styles */
body {
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
}
.spinner {
    display: none;
}
small {
    color: var(--primary-color);
}
li {
    list-style: none;
}

/* Thank You */