/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap');

/* Primary Color */
:root {
    --primary-color: #1B98F5;
  }
/* ....... */

/* Some basic styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
}
.spinner {
    display: none;
}
li {
    list-style: none;
}
a{
    color: var(--primary-color) !important;
}
.header {
    position: relative;
}
#toast {
    position: absolute;
    left: 450px;
    right: 0;
    z-index: 5;
    color: var(--primary-color);
}

/* Mobile version for toast  */
@media (max-width: 540px) {
    #toast {
        left: 15px;
    }
}

/* Thank You */